.container {
    position: fixed;
    top: 10px;
    left: 200px; /* Adjust left to match the width of the navigation bar */
    width: calc(100% - 200px); /* Adjust width to match the width of the navigation bar */
    /* padding: 16px; */
    background-color: #fff; /* Background color */
    /* z-index: 0; Higher z-index than other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
    /* display: flex; Use flexbox */
    justify-content: center; /* Center the content horizontally */
}

.heading {
    margin-bottom: 16px; /* Add margin to the bottom of the heading */
}
