@import "@/node_modules/@syncfusion/ej2-base/styles/fluent.css";
@import "@/node_modules/@syncfusion/ej2-buttons/styles/fluent.css";
@import "@/node_modules/@syncfusion/ej2-calendars/styles/fluent.css";
@import "@/node_modules/@syncfusion/ej2-dropdowns/styles/fluent.css";
@import "@/node_modules/@syncfusion/ej2-inputs/styles/fluent.css";
@import "@/node_modules/@syncfusion/ej2-lists/styles/fluent.css";
@import "@/node_modules/@syncfusion/ej2-navigations/styles/fluent.css";
@import "@/node_modules/@syncfusion/ej2-popups/styles/fluent.css";
@import "@/node_modules/@syncfusion/ej2-splitbuttons/styles/fluent.css";
@import "@/node_modules/@syncfusion/ej2-react-schedule/styles/fluent.css";

.e-popup-header {
    display: none;
}

.e-popup-footer {
    display: none !important;
}

.e-quick-popup-wrapper .e-cell-popup .e-popup-content {
    padding: 18px 12px;
}
