.heading {
    margin-bottom: 16px; /* Add margin to the bottom of the heading */
  }

.headerspecial {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: pink;
}

.main_header {
    color: darkblue; /* Set the color to dark blue */
    font-weight: 300; /* Set the font weight to thin */
  }


.main_description {
    color: rgb(100, 140, 200);
    font-weight: 300; /* Set the font weight to thin */
  }