.navbar {
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ececec; /* Grey background */
  font-family: Arial, sans-serif; /* Nicer font */
  z-index: 100; /* Higher z-index than other content */
}

.navbarMain {
  flex: 1;
  margin-top: 20px;
}

.link {
  height: 60px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333; /* Darker text color */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: #ddd; /* Light grey on hover */
}

.link[data-active] {
  background-color: #007bff;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
